@config "../tailwind.config.js";
@import "tailwindcss";

@layer base {
  article {
    h1 {
      @apply mt-4 text-xl;
    }

    h2 {
      @apply mt-8 bg-rose-950 p-1 text-lg;
    }

    h3 {
      @apply mt-6 border-b border-zinc-500 pb-0.5 text-lg;
    }

    h4 {
      @apply mt-6 text-lg;
    }

    p {
      @apply my-4;
    }

    img {
      @apply mx-auto my-4 block;
    }

    ol {
      @apply my-4 ml-1 list-inside list-decimal;
    }

    ul {
      @apply my-4 ml-1 list-inside list-disc;
    }

    a {
      @apply text-indigo-300 underline;
    }

    pre {
      @apply mt-4 rounded-md border border-zinc-600 bg-zinc-800 p-2;
    }

    code {
      @apply font-sans tracking-wide;
    }

    th {
      @apply whitespace-nowrap border border-zinc-500 bg-zinc-700 px-2 py-1 text-left font-normal;
    }

    td {
      @apply whitespace-nowrap border border-zinc-500 px-2 py-1 text-left;
    }

    td img {
      @apply my-0 mr-1 inline;
    }

    .twitter-tweet {
      @apply mx-auto;
    }
  }
}

html {
  font-size: 14px;
}
